<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue looping</title>

    <link rel="stylesheet" href="./styles.css"></link>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  </head>
<body>
  <div id="vue-app">
    <ul>
      <li v-for="(character, index) in characters">{{character}} - {{index}}</li>
    </ul>
    <ol>
      <li v-for="(user, index) in users">{{user.name}} is {{user.age}} years old, and its  position in array is {{index}}</li>
    </ol>
    <template v-for="user in users">
      <h3>{{user.name}}</h3>
    </template>
    <template v-for="user in users">
      <div v-for="(value, key) in user">
        {{key}}:{{value}}
      </div>
    </template>
  </div>
  <script src="./app.js"></script>
</body>
</html>
